// COLORS
$color-primary: #101010;
$color-secondary: #636F87;
$color-hover: #1AAB7B;

// FONTS
$font-stack: "Plus Jakarta Sans", Arial sans-serif;

// BACKGROUND COLORS

$bg-primary: #F2F4F6;
$bg-secondary: #101010;
$bg-third: #1AAB7B;

// BUTTON COLORS

$btn-primary: #1AAB7B;